.heroSection{
    display: flex;
    flex-direction: column;
}
.heroImg{
    height: 232px;
    width: 395.91px;
    object-fit: cover;
    margin: 26px 77px;
}
.heroSection p{
    justify-content: flex-start;
    font-weight: 300;
    font-size: 16px;
    height: 56px;
    width: 320px;
    margin-bottom: 55px;
    align-items: flex-start;
    vertical-align: top;
}